<#@ template hostspecific="true" language="C#" #>
<#@ assembly name="$(TargetDir)Artech.CodeGeneration.dll" #>
<#@ import namespace="Artech.CodeGeneration" #>
<#@ import namespace="Microsoft.VisualStudio.TextTemplating" #>
<#@ output extension=".empty" #>
<#
this.RunCodeGenerator(this.Host, new DemoGenerator());
#>